<div class="grid gap-4 p-4">
  <% @saved_tracks.each do |track| %>
    <div class="grid grid-cols-[auto_1fr_auto] gap-2 group hover:bg-gray-300 rounded-lg cursor-pointer p-2">
      <img src="<%= track.album.images.first['url'] %>" class="h-20 w-20 rounded-lg shadow" />
      <div>
        <div class="text-lg font-medium pb-1"><%= track.name %></div>
        <div class="text-sm text-gray-600"><%= track.artists.map(&:name).join(', ') %></div>
      </div>
      <button
        class="text-gray-400 group-hover:text-gray-900 self-center px-8"
        onclick="window.SPOTIFY.playTrack('<%= track.id %>')"
      >
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
          <path
            fill-rule="evenodd"
            d="M4.5 5.653c0-1.426 1.529-2.33 2.779-1.643l11.54 6.348c1.295.712 1.295 2.573 0 3.285L7.28 19.991c-1.25.687-2.779-.217-2.779-1.643V5.653z"
            clip-rule="evenodd"
          />
        </svg>
      </button>
    </div>
  <% end %>
</div>

<%= render partial: 'shared/pagination', locals: { pagination: @pagination } %>
