<!DOCTYPE html>
<html class="h-full bg-gray-100">
  <head>
    <title>Limewire</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'tailwind', 'inter-font', 'data-turbo-track': 'reload' %>

    <%= stylesheet_link_tag 'application' %>
  </head>

  <body class="h-full">
    <main>
      <div class="min-h-full">
        <nav class="bg-gray-800" x-data="{ mobileMenuOpen: false }">
          <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
            <div class="flex h-16 items-center justify-between">
              <div class="flex items-center">
                <a class="flex-shrink-0" href="/">
                  <svg version="1.1" viewBox="0 0 100 100" class="h-10 w-10 fill-spotifyGreen">
                    <path
                      d="M61.44,88.85c6.18-2.51,11.72-6.19,16.47-10.94c4.75-4.75,8.43-10.29,10.94-16.47c2.42-5.97,3.65-12.27,3.65-18.74  c0-6.47-1.23-12.77-3.65-18.74c-2.51-6.18-6.19-11.72-10.94-16.47l-2.36,2.36c18.11,18.11,18.11,47.58,0,65.69  c-18.11,18.11-47.58,18.11-65.69,0L7.5,77.92c4.75,4.75,10.29,8.43,16.47,10.94c5.97,2.42,12.27,3.65,18.74,3.65  C49.17,92.5,55.48,91.27,61.44,88.85z"
                    />
                    <path
                      d="M17.7,76.69l11.96,6.09c2.58,1.31,5.69-0.26,6.15-3.12l5.48-33.65c0.06-0.39-0.41-0.63-0.68-0.35l-24,24.21  C14.57,71.94,15.13,75.38,17.7,76.69z"
                    />
                    <path
                      d="M42.45,84.9l13.26-2.1c2.86-0.45,4.45-3.55,3.14-6.14L43.51,46.22c-0.18-0.35-0.7-0.27-0.76,0.12l-5.19,33.69  C37.13,82.89,39.6,85.35,42.45,84.9z"
                    />
                    <path
                      d="M60.49,75.93c1.32,2.57,4.77,3.11,6.81,1.06l9.49-9.49c2.05-2.05,1.51-5.49-1.06-6.81L45.42,45.08  c-0.35-0.18-0.72,0.19-0.54,0.54L60.49,75.93z"
                    />
                    <path
                      d="M79.99,37.84L46.3,43.03c-0.39,0.06-0.47,0.58-0.12,0.76l30.44,15.34c2.58,1.3,5.68-0.29,6.14-3.14l2.1-13.26  C85.31,39.87,82.85,37.4,79.99,37.84z"
                    />
                    <path
                      d="M46.15,41.54l33.65-5.48c2.85-0.46,4.43-3.57,3.12-6.15l-6.09-11.96c-1.31-2.58-4.75-3.13-6.81-1.09l-24.21,24  C45.52,41.13,45.76,41.61,46.15,41.54z"
                    />
                  </svg>
                </a>
                <div class="hidden md:block">
                  <div class="ml-10 flex items-baseline space-x-4">
                    <a
                      href="/"
                      class="<%= @current_page == :playlists ? 'bg-gray-900 text-white' : 'text-gray-300 hover:bg-gray-700 hover:text-white' %> rounded-md px-3 py-2 text-sm font-medium"
                      aria-current="page"
                      >Playlists</a
                    >
                    <a
                      href="/albums"
                      class="<%= @current_page == :albums ? 'bg-gray-900 text-white' : 'text-gray-300 hover:bg-gray-700 hover:text-white' %> rounded-md px-3 py-2 text-sm font-medium"
                      >Albums</a
                    >
                    <a
                      href="/saved_tracks"
                      class="<%= @current_page == :saved_tracks ? 'bg-gray-900 text-white' : 'text-gray-300 hover:bg-gray-700 hover:text-white' %> rounded-md px-3 py-2 text-sm font-medium"
                      >Saved Tracks</a
                    >
                  </div>
                </div>
              </div>
              <div class="hidden md:block">
                <div class="ml-4 flex items-center md:ml-6">
                  <!-- TODO: Replace with search -->
                  <button
                    type="button"
                    class="relative rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800"
                  >
                    <span class="absolute -inset-1.5"></span>
                    <span class="sr-only">View notifications</span>
                    <svg
                      class="h-6 w-6"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0"
                      />
                    </svg>
                  </button>

                  <!-- Profile dropdown -->
                  <div class="relative ml-3" x-data="{ open: false }">
                    <div>
                      <button
                        @click="open = !open"
                        type="button"
                        class="relative flex max-w-xs items-center rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800"
                        id="user-menu-button"
                        aria-expanded="false"
                        aria-haspopup="true"
                      >
                        <span class="absolute -inset-1.5"></span>
                        <span class="sr-only">Open user menu</span>
                        <img class="h-8 w-8 rounded-full" src="<%= current_user.spotify_profile_image_url %>" alt="" />
                      </button>
                    </div>

                    <div
                      x-show="open"
                      x-transition:enter="transition ease-out duration-100"
                      x-transition:enter-start="opacity-0 scale-95"
                      x-transition:enter-end="opacity-100 scale-100"
                      x-transition:leave="transition ease-in duration-75"
                      x-transition:leave-start="opacity-100 scale-100"
                      x-transition:leave-end="opacity-0 scale-95"
                      @click.outside="open = false"
                      class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
                      role="menu"
                      aria-orientation="vertical"
                      aria-labelledby="user-menu-button"
                      tabindex="-1"
                    >
                      <a
                        href="/settings"
                        class="<%= @current_page == :settings && 'bg-gray-100' %> block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                        role="menuitem"
                        tabindex="-1"
                        id="user-menu-item-1"
                        >Settings</a
                      >
                      <a
                        href="/logout"
                        class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                        role="menuitem"
                        tabindex="-1"
                        id="user-menu-item-2"
                        >Sign out</a
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="-mr-2 flex md:hidden">
                <!-- Mobile menu button -->
                <button
                  type="button"
                  @click="mobileMenuOpen = !mobileMenuOpen"
                  class="relative inline-flex items-center justify-center rounded-md bg-gray-800 p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800"
                  aria-controls="mobile-menu"
                  aria-expanded="false"
                >
                  <span class="absolute -inset-0.5"></span>
                  <span class="sr-only">Open main menu</span>
                  <!-- Menu open: "hidden", Menu closed: "block" -->
                  <svg
                    x-show="!mobileMenuOpen"
                    class="h-6 w-6"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
                    />
                  </svg>
                  <!-- Menu open: "block", Menu closed: "hidden" -->
                  <svg
                    x-show="mobileMenuOpen"
                    class="h-6 w-6"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    aria-hidden="true"
                  >
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                  </svg>
                </button>
              </div>
            </div>
          </div>

          <!-- Mobile menu, show/hide based on menu state. -->
          <div class="md:hidden" id="mobile-menu" x-show="mobileMenuOpen">
            <div class="space-y-1 px-2 pb-3 pt-2 sm:px-3">
              <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
              <a
                href="/"
                class="<%= @current_page == :playlists ? 'bg-gray-900 text-white' : 'text-gray-300 hover:bg-gray-700 hover:text-white' %> block rounded-md px-3 py-2 text-base font-medium"
                aria-current="page"
                >Playlists</a
              >
              <a
                href="/albums"
                class="<%= @current_page == :albums ? 'bg-gray-900 text-white' : 'text-gray-300 hover:bg-gray-700 hover:text-white' %> block rounded-md px-3 py-2 text-base font-medium"
                >Albums</a
              >
              <a
                href="/saved"
                class="<%= @current_page == :saved ? 'bg-gray-900 text-white' : 'text-gray-300 hover:bg-gray-700 hover:text-white' %> block rounded-md px-3 py-2 text-base font-medium"
                >Saved</a
              >
            </div>
            <div class="border-t border-gray-700 pb-3 pt-4">
              <div class="flex items-center px-5">
                <div class="flex-shrink-0">
                  <img
                    class="h-10 w-10 rounded-full"
                    src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                    alt=""
                  />
                </div>
                <div class="ml-3">
                  <div class="text-base font-medium leading-none text-white">Tom Cook</div>
                  <div class="text-sm font-medium leading-none text-gray-400">tom@example.com</div>
                </div>
                <button
                  type="button"
                  class="relative ml-auto flex-shrink-0 rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800"
                >
                  <span class="absolute -inset-1.5"></span>
                  <span class="sr-only">View notifications</span>
                  <svg
                    class="h-6 w-6"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0"
                    />
                  </svg>
                </button>
              </div>
              <div class="mt-3 space-y-1 px-2">
                <a
                  href="/settings"
                  class="block rounded-md px-3 py-2 text-base font-medium text-gray-400 hover:bg-gray-700 hover:text-white"
                  >Settings</a
                >
                <a
                  href="/logout"
                  class="block rounded-md px-3 py-2 text-base font-medium text-gray-400 hover:bg-gray-700 hover:text-white"
                  >Sign out</a
                >
              </div>
            </div>
          </div>
        </nav>

        <header class="bg-white shadow">
          <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
            <h1 class="text-3xl font-bold tracking-tight text-gray-900">
              <%= @current_page.to_s.gsub('_', ' ').titleize %>
            </h1>
          </div>
        </header>
        <main>
          <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
            <%= yield %>
          </div>
        </main>
      </div>
    </main>
  </body>
</html>
